<div class="row">
  <div class="input-field col s12 m6">
    <div class="select-wrapper" (click)=onClick($event)>
      <input class="select-dropdown dropdown-trigger" type="text" readonly="true" value="Choose your option">
      <ul [ngClass]="{ 'dropdown-content': true, 'open': open }"  >
        <li class="disabled selected" ><span>Choose your option</span></li>
        <li ><span>Option 1</span></li>
        <li ><span>Option 2</span></li>
        <li ><span>Option 3</span></li>
      </ul>
      <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
      <select>
        <option value="" disabled="" selected="">Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <label>Materialize Select</label>
  </div>
</div>